================================== <h2>custome form</h2> ======================
<app-c-form 
	[formControls] = "formControls"
	(submitEvent)="onSubmit($event)"
	(cancelEvent)="onCancel($event)"
></app-c-form>


<br/><br/><br/><br/><br/><br/>
================================== <h2>custome data table</h2> ======================<br/>
<app-c-table 
	[dataListInput] = "ELEMENT_DATA" 
	[displayedColumns]="displayedColumns" 
	[selectable] = "false"
	(selectedRowsEvent)="onSelecteRows($event)">
</app-c-table>


<br/><br/><br/><br/><br/><br/>
================================== <h2>Object view </h2> ======================<br/>
<app-c-view [data]="dataObject"></app-c-view>