<div *ngIf="formControls">
	<form novalidate (ngSubmit)="submit(customForm.value)" [formGroup]="customForm">
	     <div *ngFor="let control of formControls; let i =index">
	 		<mat-form-field *ngIf="control.input !== 'checkBox' && control.input !== 'radio' && control.input !== 'toggler'
	 		&& control.input !== 'slider'">
		    	 <input matInput placeholder="{{control.lable}}" [formControlName]="control.name" 
		    	 *ngIf="control.input === 'text'">

		    	 <textarea matInput placeholder="{{control.lable}}" [formControlName]="control.name" 
		    	 *ngIf="control.input === 'textArea'"></textarea>

		    	 <mat-select placeholder="{{control.lable}}" [formControlName]="control.name" 
		    	 *ngIf="control.input === 'select'">
				    <mat-option *ngFor="let  option of control.options" [value]="option.value"> {{option.name}} </mat-option>
				  </mat-select>

				  <div *ngIf="control.input === 'date'">
					 <input matInput [matDatepicker]="picker" (focus)="picker.open()"
					 [formControlName]="control.name" placeholder="{{control.lable}}">
					  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					  <mat-datepicker #picker></mat-datepicker>
				  </div>
		     </mat-form-field>

		     <mat-checkbox [formControlName]="control.name"  *ngIf="control.input === 'checkBox'">
		    	 {{control.lable}}</mat-checkbox>

		     <mat-radio-group [formControlName]="control.name"  *ngIf="control.input === 'radio'">
			  <mat-radio-button [value]="radio.value" *ngFor="let radio of control.items">{{radio.name}}</mat-radio-button>
			</mat-radio-group>

			<mat-slide-toggle [formControlName]="control.name"  *ngIf="control.input === 'toggler'">
			{{control.lable}}</mat-slide-toggle>

			<div *ngIf="control.input === 'slider'">
				{{control.lable}} : <mat-slider  [formControlName]="control.name" [thumbLabel]="true"
				 [max]="control.max" [min]="control.min" [step]="control.step"  [tickInterval]="'auto'"></mat-slider>
			</div>
	     </div>
	    
	     
	     <button mat-raised-button type="submit" color="primary" [disabled] = "!customForm.valid">Submit </button>
	     <button mat-raised-button type="button" class="right-float" (click)="cancel()">cancel</button>
	</form>
</div>