<!-- <div style="overflow-x:auto;">
  <table>
    <tr><th *ngFor="let item of displayedColumns">{{item}}</th></tr>
    <tr *ngFor="let item of dataListInput; let i = index">
      <td *ngFor="let col of displayedColumns"> {{item[col]}} </td>
    </tr>
  </table>
</div> -->
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" name="">
</mat-form-field>
<div class="mat-elevation-z8">
	<table mat-table [dataSource]="dataSource" matSort>
	  <ng-container matColumnDef="{{item}}" *ngFor="let item of displayedColumns">
	    <div *ngIf="item === 'select'; else notSelectColum">
			<th mat-header-cell *matHeaderCellDef>
		      <mat-checkbox (change)="$event ? masterToggle() : null"
		                    [checked]="selection.hasValue() && isAllSelected()"
		                    [indeterminate]="selection.hasValue() && !isAllSelected()">
		      </mat-checkbox>
		    </th>
		    <td mat-cell *matCellDef="let row"> 
		      <mat-checkbox (click)="$event.stopPropagation()" 
		      				(change)="$event ?selection.toggle(row) : null; selectionChange()"
		                    [checked]="selection.isSelected(row)">
		      </mat-checkbox>
		    </td>
	    </div>
		<ng-template #notSelectColum >
			<th mat-header-cell *matHeaderCellDef mat-sort-header >{{item | uppercase}} </th>
			<td mat-cell *matCellDef="let element"> {{element[item]}} </td>
		</ng-template>
	  </ng-container>
	  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
	<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
