table { border-collapse: collapse; width: 100%;}
th, td {text-align: left; padding: 5px;}
tr:nth-child(even){background-color: #f2f2f2}
thead, th.mat-header-cell{ font-weight: 600; color: #222; font-size: 15px;}